<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".linia36.Linia36TurRetur" />
        <activity android:name=".linia36.Linia36Tur" />
        <activity android:name=".linia36.Linia36Retur" />
        <activity android:name=".linia36.Linia36IndependenteiTur" />
        <activity android:name=".linia36.Linia36Decembrie1918Tur" />
        <activity android:name=".linia36.Linia36PiataTractorulTur" />
        <activity android:name=".linia36.Linia36BisericaTractorulTur" />
        <activity android:name=".linia36.Linia36MirceaCelBatranTur" />
        <activity android:name=".linia36.Linia36OnixTur" />
        <activity android:name=".linia36.Linia36SanitasTur" />
        <activity android:name=".linia36.Linia36PrimarieTur" />
        <activity android:name=".linia36.Linia36LivadaPosteiTur" />
        <activity android:name=".linia36.Linia36LivadaPosteiRetur" />
        <activity android:name=".linia36.Linia36DramaticRetur" />
        <activity android:name=".linia36.Linia36CastanilorRetur" />
        <activity android:name=".linia36.Linia36OnixRetur" />
        <activity android:name=".linia36.Linia36MirceaCelBatranRetur" />
        <activity android:name=".linia36.Linia36FagetRetur" />
        <activity android:name=".linia36.Linia36SpitalTractorulRetur" />
        <activity android:name=".linia36.Linia36PiataTractorulRetur" />
        <activity android:name=".linia36.Linia36Decembrie1918Retur" />
        <activity android:name=".linia36.Linia36BronzuluiRetur" />
        <activity android:name=".linia36.Linia36IndependenteiRetur" />
        <activity android:name=".linia6.Linia6TurRetur" />
        <activity android:name=".linia6.Linia6Tur" />
        <activity android:name=".linia6.Linia6Retur" />
        <activity android:name=".linia6.Linia6SaturnTur" />
        <activity android:name=".linia6.Linia6CometeiTur" />
        <activity android:name=".linia6.Linia6NeptunTur" />
        <activity android:name=".linia6.Linia6ComplexulMareTur" />
        <activity android:name=".linia6.Linia6GemeniiTur" />
        <activity android:name=".linia6.Linia6ScriitorilorTur" />
        <activity android:name=".linia6.Linia6LiceulMesotaTur" />
        <activity android:name=".linia6.Linia6OnixTur" />
        <activity android:name=".linia6.Linia6SanitasTur" />
        <activity android:name=".linia6.Linia6PrimarieTur" />
        <activity android:name=".linia6.Linia6LivadaPosteiTur" />
        <activity android:name=".linia6.Linia6LivadaPosteiRetur" />
        <activity android:name=".linia6.Linia6DramaticRetur" />
        <activity android:name=".linia6.Linia6PatriaRetur" />
        <activity android:name=".linia6.Linia6HidroARetur" />
        <activity android:name=".linia6.Linia6ToamneiRetur" />
        <activity android:name=".linia6.Linia6TraianRetur" />
        <activity android:name=".linia6.Linia6GemeniiRetur" />
        <activity android:name=".linia6.Linia6ComplexulMareRetur" />
        <activity android:name=".linia6.Linia6NeptunRetur" />
        <activity android:name=".linia6.Linia6CometeiRetur" />
        <activity android:name=".linia6.Linia6SaturnRetur" />
        <activity android:name=".MainContent" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>