<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Linia6Retur"></activity>
        <activity android:name=".Linia6Tur" />
        <activity android:name=".Linia6TurRetur" />
        <activity android:name=".Linia5MCaramidarieiRetur" />
        <activity android:name=".Linia5MBrintexRetur" />
        <activity android:name=".Linia5MDepoziteRetur" />
        <activity android:name=".Linia5MFacultativa2Retur" />
        <activity android:name=".Linia5MFacultativaRetur" />
        <activity android:name=".Linia5MFacultativa2Tur" />
        <activity android:name=".Linia5MFacultativaMti" />
        <activity android:name=".Linia5MMagurele" />
        <activity android:name=".Linia5MFacultativaTur" />
        <activity android:name=".Linia5MAvicolaTur" />
        <activity android:name=".Linia5MIoanClopotelTur" />
        <activity android:name=".Linia5MCaramidarieiTur" />
        <activity android:name=".Linia5MServiceTur" />
        <activity android:name=".Linia5MStadMunicipal" />
        <activity android:name=".Linia5MRetur" />
        <activity android:name=".Linia5MTur" />
        <activity android:name=".Linia5MTurRetur" />
        <activity android:name=".Linia5BartolomeuGaraRetur" />
        <activity android:name=".Linia5CariereiRetur" />
        <activity android:name=".Linia5MemoranduluiRetur" />
        <activity android:name=".Linia5BisericiiRoamaneRetur" />
        <activity android:name=".Linia5AstraRetur" />
        <activity android:name=".Linia5primarieRetur" />
        <activity android:name=".Linia5SanitasRetur" />
        <activity android:name=".Linia5CameraDeComertRetur" />
        <activity android:name=".Linia5MesotaRetur" />
        <activity android:name=".Linia5ToamneiRetur" />
        <activity android:name=".Linia5SpitalJudeteanRetur" />
        <activity android:name=".Linia5LiceulInforamticaretur" />
        <activity android:name=".Linia5BerzeiRetur" />
        <activity android:name=".Linia5SoareluiRetur" />
        <activity android:name=".Linia5Retur" />
        <activity android:name=".Linia5RomanTur" />
        <activity android:name=".Linia5PoienelorTur" />
        <activity android:name=".Linia5MetromTur" />
        <activity android:name=".Linia5PompieriTur" />
        <activity android:name=".Linia5BerzeiTur" />
        <activity android:name=".Linia5LiceuInfoTur" />
        <activity android:name=".Linia5spitaljudTur" />
        <activity android:name=".Linia5HidroBTur" />
        <activity android:name=".Linia5HidroATur" />
        <activity android:name=".Linia5PatriaTur" />
        <activity android:name=".Linia5DramaticTur" />
        <activity android:name=".Linia5AstraTur" />
        <activity android:name=".Linia5BisericiiRomanerTur" />
        <activity android:name=".Linia5MemoranduluiTur" />
        <activity android:name=".Linia5CariereiTur" />
        <activity android:name=".Linia5BisericaBartolomeuTur" />
        <activity android:name=".Linia5StadionMunicipal" />
        <activity android:name=".Linia5Tur" />
        <activity android:name=".Linia5TurRetur" />
        <activity android:name=".Linia4RapidRetur" />
        <activity android:name=".Linia4InfostarRetur" />
        <activity android:name=".Linia4HidroARetur" />
        <activity android:name=".linia4PatriaRetur" />
        <activity android:name=".Linia4DramaticRetur" />
        <activity android:name=".linia4LivadaPostei" />
        <activity android:name=".Linia4PrimarieTur" />
        <activity android:name=".Linia4SanitasTur" />
        <activity android:name=".Linia4CameraDeComertTur" />
        <activity android:name=".Linia4MesotaTur" />
        <activity android:name=".Linia4InfoStarTur" />
        <activity android:name=".Linia4DaciaTur" />
        <activity android:name=".Linia4GaraBrasovTur" />
        <activity android:name=".Linia4Retur" />
        <activity android:name=".LInia4Tur" />
        <activity android:name=".Linia4TurRetur" />
        <activity android:name=".Linia2Rulmentul" />
        <activity android:name=".Linia2NicolarLabisRetur" />
        <activity android:name=".Linia2NicolarLabisTur" />
        <activity android:name=".Linia2CoresiRetur" />
        <activity android:name=".Linia2CoresiTur" />
        <activity android:name=".Linia2TractorulRetur" />
        <activity android:name=".Linia2AuchanCoresiTur" />
        <activity android:name=".Linia2FagetRetur" />
        <activity android:name=".Linia2CineplexCoresiTur" />
        <activity android:name=".Linia2LiceulTractorulRetur" />
        <activity android:name=".Linia2LiceulTractorulTur" />
        <activity android:name=".Linia2BisericaTractorulRetur" />
        <activity android:name=".Linia2BisericaTractorulTur" />
        <activity android:name=".Linia2MirceaCelBatranRetur" />
        <activity android:name=".Linia2MirceaCelBatranTur" />
        <activity android:name=".Linia2OnixRetur" />
        <activity android:name=".Linia2OnixTur" />
        <activity android:name=".Linia2DramaticRetur" />
        <activity android:name=".Linia2SanitasTur" />
        <activity android:name=".Linia2CastanilorRetur" />
        <activity android:name=".Linia2PrimarieTur" />
        <activity android:name=".Linia2LivadaPosteiTur" />
        <activity android:name=".Linia2Retur" />
        <activity android:name=".Linia2Tur" />
        <activity android:name=".Linia2TurRetur" />
        <activity android:name=".MainContent" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>