<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Linia2Rulmentul"></activity>
        <activity android:name=".Linia2NicolarLabisRetur" />
        <activity android:name=".Linia2NicolarLabisTur" />
        <activity android:name=".Linia2CoresiRetur" />
        <activity android:name=".Linia2CoresiTur" />
        <activity android:name=".Linia2TractorulRetur" />
        <activity android:name=".Linia2AuchanCoresiTur" />
        <activity android:name=".Linia2FagetRetur" />
        <activity android:name=".Linia2CineplexCoresiTur" />
        <activity android:name=".Linia2LiceulTractorulRetur" />
        <activity android:name=".Linia2LiceulTractorulTur" />
        <activity android:name=".Linia2BisericaTractorulRetur" />
        <activity android:name=".Linia2BisericaTractorulTur" />
        <activity android:name=".Linia2MirceaCelBatranRetur" />
        <activity android:name=".Linia2MirceaCelBatranTur" />
        <activity android:name=".Linia2OnixRetur" />
        <activity android:name=".Linia2OnixTur" />
        <activity android:name=".Linia2DramaticRetur" />
        <activity android:name=".Linia2SanitasTur" />
        <activity android:name=".Linia2CastanilorRetur" />
        <activity android:name=".Linia2PrimarieTur" />
        <activity android:name=".Linia2LivadaPosteiTur" />
        <activity android:name=".Linia2Retur" />
        <activity android:name=".Linia2Tur" />
        <activity android:name=".Linia2TurRetur" />
        <activity android:name=".MainContent" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>